<ion-header translucent>
    <ion-toolbar>
      <ion-title>{{'modules.tasks.details' | translate}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">{{'modules.tasks.close' | translate}}</ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card class="welcome-card">
        <ion-card-content>
            <div>{{task.label}}</div>
            <div class="infection-badge" [style]="getInfectionStyle(task.actInfectionId) | safe : 'style'">{{getInfectionLabel(task.actInfectionId)}}</div>
        </ion-card-content>
    </ion-card>
    <ion-toolbar>
        <ion-row>
            <ion-col *ngFor="let action of task.actions">
                <ion-button expand="full"
            color="{{action.hasReason?'warning':'success'}}" 
            (click)="actionClicked(action)">{{action.label}}</ion-button>
            </ion-col>
        </ion-row>
        <ion-row id="reasons" style="visibility:hidden" *ngIf="reasonsVisible">
            <ion-col class="ion-text-center">
                <ion-select id="reason" [placeholder]="'modules.tasks.reasons-prompt' | translate" (ionChange)="setReason($event.target)">
                    <ion-select-option *ngFor="let reason of reasons" value="{{reason.id}}">
                      {{reason.label}}
                    </ion-select-option>
                  </ion-select>
            </ion-col>
        </ion-row>
    </ion-toolbar>
    <ion-card class="welcome-card" *ngIf="reasonsVisible">
        <ion-card-header>
            <ion-button (click)="takePicture()"><ion-icon name="camera-outline"></ion-icon></ion-button>
        </ion-card-header>
        <ion-card-content>
            <ion-img id="photo" [src]="converted_image"></ion-img>
        </ion-card-content>
    </ion-card>
</ion-content>
