<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{'modules.tasks.title' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list *ngIf="user != undefined" inset=true lines="full">
      <ion-list-header>
        <ion-label>{{'modules.tasks.tasks-list' | translate}} {{ user.firstName  }} {{ user.lastName  }}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let task of tasks">
        <ion-label (click)="taskClicked(task)">{{task.subject}} - {{task.label}} - <span class="infection-badge" [style]="getInfectionStyle(task.actInfectionId) | safe : 'style'">{{getInfectionLabel(task.actInfectionId)}}</span></ion-label>
      </ion-item>
    </ion-list>
<!--
    <ion-item>
      <pre>{{ tasks | json }}</pre>
    </ion-item>
-->
  </ion-content>
