<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button auto-hide="false"></ion-menu-button>
            <ion-img class="logo" src="/assets/icon/favicon.png"></ion-img>
        </ion-buttons>
        <ion-title>{{'modules.settings.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
        <ion-card-content>
            <p>{{'modules.settings.instructions' | translate}}</p>
        </ion-card-content>
    </ion-card>
    <form (ngSubmit)="save(settingsForm)" padding-right [formGroup]="settingsForm">
<!--
        <ion-item lines="inset">
          <ion-label position="floating">{{'modules.settings.username' | translate}}</ion-label>
          <ion-input  formControlName="username"></ion-input>
        </ion-item>
-->
        <ion-item lines="inset">
          <ion-label position="floating">{{'modules.settings.url' | translate}}</ion-label>
          <ion-input formControlName="url" type="text"></ion-input>
        </ion-item>
        <ion-item lines="inset">
            <ion-label position="floating">{{'modules.settings.validated' | translate}}</ion-label>
            <ion-checkbox formControlName="validated" disabled="true"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Lang</ion-label>
            <ion-select formControlName="lang">
              <ion-select-option *ngFor="let lng of langs" [value]="lng.value">{{lng.label}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-toolbar>
            <ion-row>
                <ion-col>
                    <ion-button color="primary" expand="full" type="submit" [disabled]="!settingsForm.valid">{{'modules.settings.save' | translate}}</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="secondary" expand="full" (click)="flush()">{{'modules.settings.flush' | translate}}</ion-button>
                </ion-col>
            </ion-row>
        </ion-toolbar>
    </form>
</ion-content>
