<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header><ion-img id="logo" src="./assets/icon/favicon.png"></ion-img></ion-list-header>
          <ion-note>Actium Technologie</ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" (click)="logout()">
                <ion-icon slot="start" name="log-out-outline"></ion-icon>
                <ion-label>
                    {{'modules.auth.logout' | translate}}
                </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!--<ion-list>
            <ion-menu-toggle auto-hide="false">
                <ion-button color="primary" (click)="logout()">{{'modules.auth.logout' | translate}}</ion-button>
            </ion-menu-toggle>
        </ion-list>-->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
