<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button auto-hide="false"></ion-menu-button>
            <ion-img class="logo" src="/assets/icon/favicon.png"></ion-img>
        </ion-buttons>
        <ion-title>{{'modules.auth.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>  
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-subtitle>{{'app.company' | translate}}</ion-card-subtitle>
            <ion-card-title>{{'app.title' | translate}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{'app.description' | translate}}</p>
        </ion-card-content>
    </ion-card>
    <form (ngSubmit)="login(loginForm)" [formGroup]="loginForm">
        <ion-item>
            <ion-label>{{'modules.auth.shift' | translate}}</ion-label>
            <ion-select formControlName="shift" (ionChange)="shiftsFn($event);">
              <ion-select-option *ngFor="let shift of shifts" [value]="shift">{{shift.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{'modules.auth.route' | translate}}</ion-label>
            <ion-select formControlName="route" (ionChange)="routesFn($event);">
              <ion-select-option *ngFor="let route of routes" [value]="route">{{route.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{'modules.auth.username' | translate}}</ion-label>
            <ion-input type="email" formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{'modules.auth.password' | translate}}</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-toolbar>
            <ion-row>
                <ion-col>
                    <ion-button color="primary" expand="full" color="primary" type="submit" [disabled]="!loginForm.valid">{{'modules.auth.login' | translate}}</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="primary" expand="full" color="danger" (click)="forgotPassword()">{{'modules.auth.forgotten-password' | translate}}</ion-button>
                </ion-col>
            </ion-row>
        </ion-toolbar>
    </form>
</ion-content>
<ion-footer>
    <!--<ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" expand="full" color="danger" (click)="register()">Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>-->
</ion-footer>