<ion-header translucent>
    <ion-toolbar>
        <ion-title>{{'modules.auth.title-reinit' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">{{'modules.auth.close' | translate}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-item>
        <ion-label position="stacked">{{'modules.auth.email' | translate}}</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <!--<ion-item>
        <ion-button color="primary" expand="full" color="primary">{{'modules.auth.send' | translate}}</ion-button>
    </ion-item>-->
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-button color="primary" expand="full" color="primary"
                            (click)="requestResetCode()">{{'modules.auth.send' | translate}}</ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
    <form *ngIf="sent" (ngSubmit)="reinitPassword(resetForm)" [formGroup]="resetForm">
        <ion-item>
            <ion-label position="stacked">{{'modules.auth.reset-code' | translate}}</ion-label>
            <ion-input type="text" formControlName="resetCode"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{'modules.auth.password' | translate}}</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{'modules.auth.repeat' | translate}}</ion-label>
            <ion-input type="password" formControlName="repeat"></ion-input>
        </ion-item>
        <ion-toolbar>
            <ion-row>
                <ion-col>
                    <ion-button color="primary" expand="full" type="submit"
                                [disabled]="!resetForm.valid">{{'modules.auth.reinit' | translate}}</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="secondary" expand="full"
                                (click)="dismiss()">{{'modules.auth.cancel' | translate}}</ion-button>
                </ion-col>
            </ion-row>
        </ion-toolbar>
    </form>
</ion-content>
